@page
@model Matcat.Pages.Providers.IndexModel
@{
    ViewData["Title"] = "Providers";
}
<div class="card">
    <partial name="Controls/_DataTable" model="Model.Table" />
    <div class="list-actions">
        <a class="btn btn-primary" asp-page="Edit"><icon name="add" /> Neuer Provider</a>
    </div>
</div>
